#board {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 15rem;
  margin: 10px;
  border-radius: 20px;
}

.btn {
  margin-right: 10px;
}
